.btn-login {
    --background: #FFFFFF;
    color: green;
    font-size: 20px;
    font-family: sans-serif;
    width: 40%;
    height: 50px;
    margin-left: 30%;
}

ion-content {
    --ion-background-color: green;
}

.center {
    text-align: center;
}

.div-login {
    margin-top: 60%;
}