<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios" slot="start">
      <ion-menu-button autoHide="false" class="icon-toolbar">
        <ion-avatar>
          <ion-icon name="person"></ion-icon>
        </ion-avatar>
      </ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios" class="text-toolbar">{{titleTab}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs mode="md">
    <ion-tab-bar mode="md" slot="bottom" class="tab-bar">
      <ion-tab-button tab="trandau" button (click)="clickTDau()">
        <ion-icon name="grid" [style.color]="colorTDau"></ion-icon>
        <ion-label [style.color]="colorTDau">Trận Đấu</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-tab-button>
      <ion-tab-button tab="theodoi" button (click)="clickTDoi()">
        <ion-icon name="grid" [style.color]="colorTDoi"></ion-icon>
        <ion-label [style.color]="colorTDoi">Theo Dõi</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>