.txt-giai-dau {
    font-size: 13px;
    font-family: sans-serif;
    color: #000000;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.txt-time {
    font-size: 14px;
    color: grey; 
    line-height: 2;  
}

.txt-header {
    font-size: 13px;
    color: grey;
}

ion-header {
    border-bottom: 1px inset grey;
}

.txt-tip {
    line-height: 2;
    color: darkolivegreen
}

.row-giai-dau {
    background-color: #e9e8e8;
}

.row-bottom {
    border: 1px double #e9e8e8;
}
